<h1>Message #<%= @message.id %></h1>

<p>
  <b>Message:</b>
  <%= @message.message %>
</p>

<p>
  <b>User:</b>
  <%= @message.user_id %>
</p>

<p>
  <b>Product:</b>
  <%= @message.product_id %>
</p>


