aside, article, section, header, footer, nav {
      display: block;
    }

    div, p {
      margin: 0;
      padding: 0;
    }

    html {
      background: none;
    }

    p {
      font-family: 'Open Sans', sans-serif;
    }

    header {
      background: white;
      padding-top: 30px;
      padding-left: 100px;
      padding-bottom: 20px;
    }

    header nav {
      display: block;
      height: 60px;
      position: absolute;
      top: 60px;
      left: 50%;
    }

    header nav a {
      position: relative;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 1px;
      text-transform: lowercase;
      text-decoration: none;
      color: #555;
      text-align: center;
      padding: 20px 22px 20px 22px;
      display: inline-block;
      float: left; 
    }

    header nav a:hover{ 
      background-color: #ffff66;
    }

    section#container {
      background: #99ccff;
      font-family: 'Karla', sans-serif;
      color: #555;
      padding-top: 20px;
      padding-left: 50px;
      padding-bottom: 20px;
      height: 500px;
    }

    aside#main_text {
      margin-left: 150px;
    }

     aside#main_text h1 { 
        font-size: 30px;
        letter-spacing: 0.75px;
     }

     aside#main_text a {
          background: #DE6957; 
          text-decoration: none;
          color: white;
          font-size: 18px;
          letter-spacing: 0.50px;
          -moz-border-radius: 15px;
          -webkit-border-radius: 15px;
          padding: 10px;
     }

     footer {
          background: #ff3399;
          height: 50px;
     }

     footer p {
        font-size: 12px;
         color: #555;
         padding-top: 10px;
         padding-bottom: 10px;
         padding-left: 75px;
     }

     footer a {
        color: white;
        text-decoration: none;
     }

