<h1>Manufacturer #<%= @manufacturer.id %></h1>

<p>
  <b>Name:</b>
  <%= @manufacturer.name %>
</p>

<p>
  <b>Rebate:</b>
  <%= @manufacturer.rebate %>
</p>

<p>
  <b>Rebate description:</b>
  <%= @manufacturer.rebate_description %>
</p>


